.ViewProjectMainComponants {
    .ViewProjectCompImage {
        display: flex;
        justify-content: center;

        img {
            width: 70%;
            border-radius: 0 0 50px 50px;
        }
    }

    .ViewProjectComponants {
        padding: 50px 0;

        hr {
            background-color: #fff;
        }

        .vpTitle {
            img {
                width: 30%;
            }
        }
        .VprojectmainDesc {
            display: flex;
            flex-direction: row;
            gap: 3rem;
            .vprojectdescTiltes {
                width: 60%;
                .vprojectdescTilte {
                    display: flex;
                    flex-direction: row;
                    gap: 5rem;
                    padding: 20px 0;
                    align-items: center;
                    h3,h5{
                        color: #fff;
                    }
                    .vpTitle{
                        width: 40%;
                    }
                    .vptilteans{
                        width: 70%;
                    }
                }
            }
            .vprojectfulldecr{
                width: 40%;
                p{
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
        .projectDescGallery{
            text-align: center;
            h3{
                padding: 50px 0;
            }
            img{
                width: 100%;
            }
        }
        .VisitProject{
            display: flex;

            h5{
                width: 90%;
                color: #fff;
            }
        }
    }
}

h4{
    color:#fff;
}
@media(max-width:900px){
    .ViewProjectMainComponants {
        padding: 0 10px;
        .ViewProjectCompImage {
            display: flex;
            justify-content: center;
            img {
                width: 100%;
                border-radius: 0 0 50px 50px;
            }
        }
    
        .ViewProjectComponants {
            padding: 50px 0;
    
            hr {
                background-color: #fff;
            }
    
            .vpTitle {
                img {
                    width: 30%;
                }
            }
            .VprojectmainDesc {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                .vprojectdescTiltes {
                    width: 100%;
                    .vprojectdescTilte {
                        display: flex;
                        flex-direction: row;
                        gap: 5rem;
                        padding: 10px 0;
                        align-items: center;
                        h3{
                            color: #fff;
                            font-size: 24px;
                        }h5{
                            color: #fff;
                        }
                        .vpTitle{
                            width: 50%;
                        }
                        .vptilteans{
                            width: 50%;
                        }
                    }
                }
                .vprojectfulldecr{
                    width: 100%;
                    p{
                        font-size: 20px;
                        font-weight: 300;
                    }
                }
            }
            .projectDescGallery{
                text-align: center;
                h3{
                    padding: 50px 0;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    
}