.MyExpertiesMainComponants {
  color: #fff;
  margin: 0 0 300px 0;
}
.MyExpertiesMainComponants .MyExpertiesComponants {
  position: relative;
}
.MyExpertiesMainComponants .MyExpertiesComponants h1 {
  text-align: center;
  font-size: 64px;
}
.MyExpertiesMainComponants .MyExpertiesComponants .bgimg {
  position: absolute;
  top: 90%;
  left: 50%;
  text-align: center;
  z-index: 1;
  opacity: 0.3;
  width: 60%;
}
.MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
}
.MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody {
  flex: 1;
  z-index: 2;
  border: 1px solid #fff;
  padding: 20px 20px;
}
.MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody .MyExpertiesComponantsBodyHead {
  display: flex;
  gap: 1em;
}
.MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody .MyExpertiesComponantsBodyHead h3 {
  color: #fff;
}
.MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody .MyExpertiesComponantsBodyHead h3 u {
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
}
.MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody .MyExpertiesComponantsBodyHead .MyExpertiesComponantsBodyIcon img {
  width: 50px;
}
.MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody .MyExpertiesComponantsBodycont {
  padding: 20px;
}

@media (max-width: 900px) {
  .MyExpertiesMainComponants {
    color: #fff;
    margin: 100px 0;
  }
  .MyExpertiesMainComponants .MyExpertiesComponants h1 {
    text-align: center;
    font-size: 48px;
  }
  .MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
  }
  .MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody {
    flex: 1;
    border: 1px solid #fff;
    padding: 20px 20px;
  }
  .MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody .MyExpertiesComponantsBodyHead {
    display: flex;
    gap: 1em;
  }
  .MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody .MyExpertiesComponantsBodyHead h3 {
    color: #fff;
  }
  .MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody .MyExpertiesComponantsBodyHead h3 u {
    -webkit-text-decoration: underline red;
            text-decoration: underline red;
  }
  .MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody .MyExpertiesComponantsBodyHead .MyExpertiesComponantsBodyIcon img {
    width: 50px;
  }
  .MyExpertiesMainComponants .MyExpertiesComponants .MyExpertiesComponantsContent .MyExpertiesComponantsBody .MyExpertiesComponantsBodycont {
    padding: 20px;
  }
}/*# sourceMappingURL=MyExperties.css.map */